existing-config
# Various debhelper files and build directories
debian/.debhelper/
debian/*.debhelper
debian/*.debhelper.log
debian/*.substvars
debian/debhelper-build-stamp
debian/files
debian/cluster-netboot
# Ignore manpages created from XML files
man/*
!man/*.xml
# This file is an "alias" manpage
!man/set-cluster-node-hostname.8
