[Unit]
Description=Generate a unique, stable hostname for this node.
ConditionKernelCommandLine=nfsroot
ConditionKernelCommandLine=ro
ConditionPathIsMountPoint=/var

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=set-cluster-node-hostname
# Create /var/hosts with a definition for this hostname
# (/etc/hosts is symlinked to /var/hosts).
ExecStart=sh -c "sed s/'[[:space:]]localhost\\([[:space:]]\\|$\\)'/\"   $(hostname) \\0\"/g /etc/hosts.template > /var/hosts"