Source: cluster-netboot
Section: admin
Priority: optional
Maintainer: Will Ross <paxswill@paxswill.com>
Build-Depends: debhelper-compat (= 12), config-package-dev (>= 5.0)
Standards-Version: 4.4.1
Homepage: https://github.com/paxswill/cluster-netboot
Vcs-Browser: https://github.com/paxswill/cluster-netboot
Vcs-Git: https://github.com/paxswill/cluster-netboot.git

Package: cluster-netboot
Architecture: armhf arm64
Multi-Arch: allowed
Section: admin
Priority: optional
Description: Set up a cluster of netbooting single-board computers
 A mixed cluster of various common ARM SBCs will be configured to boot over a
 network, with absolutely minimal on-node storage required (typically just
 enough for a local copy of U-Boot). /var is mounted over iSCSI, while the rest
 of the root filesystem is mounted read-only over NFS.
Depends: ${shlibs:Depends}, ${misc:Depends}, u-boot-tools, device-tree-compiler, initramfs-tools,
 busybox, open-iscsi, nfs-common, rsync, findutils, sed, grep, coreutils,
 linux-image-armmp [armhf], linux-image-arm64 [arm64]
Recommends: e2fsprogs, systemd, raspi-firmware, u-boot-sunxi,
 u-boot-omap [armhf], u-boot-rpi [armhf]
Suggests: autofs
Replaces: raspi-firmware
Provides: ${diverted-files}
Conflicts: ${diverted-files}
