Source: cluster-netboot
Section: admin
Priority: optional
Maintainer: Will Ross <paxswill@paxswill.com>
Build-Depends: debhelper-compat (= 12), config-package-dev (>= 5.0)
Standards-Version: 4.4.1
Homepage: https://github.com/paxswill/cluster-netboot
Vcs-Browser: https://github.com/paxswill/cluster-netboot
Vcs-Git: https://github.com/paxswill/cluster-netboot.git

Package: cluster-netboot
Architecture: armhf arm64
Multi-Arch: allowed
Section: admin
Priority: optional
Description: Set up a cluster of netbooting single-board computers
 A mixed cluster of various common ARM SBCs will be configured to boot over a
 network, with absolutely minimal on-node storage required (typically just
 enough for a local copy of U-Boot). /var is mounted over iSCSI, while the rest
 of the root filesystem is mounted read-only over NFS.
Depends: ${misc:Depends}, debconf (>=1.5.74), python3 (>=3.8),
 u-boot-tools (>=2020.10), device-tree-compiler (>=1.6.0),
 initramfs-tools (>=0.139), busybox (>=1:1.30.1),
 open-iscsi (>=2.1.3), nfs-common (>=1:1.3.4), rsync (>=3.2.3),
 findutils (>=4.8.0), sed (>=4.7), grep (>=3.6), coreutils (>=8.32),
 linux-image-armmp (>=5.9) [armhf] | linux-image-arm64 (>=5.9) [arm64] | linux-image-generic (>=5.9) | linux-image-raspi (>=5.7)
Recommends: e2fsprogs, systemd, raspi-firmware, u-boot-sunxi (>=2020.10),
 u-boot-omap (>=2020.10) [armhf], u-boot-rpi (>=2020.10) [armhf]
Suggests: autofs
Replaces: raspi-firmware
Provides: ${diverted-files}
Conflicts: ${diverted-files}
