#!/usr/bin/make -f
# See debhelper(7) (uncomment to enable)
# output every command that modifies files on the build system.
#export DH_VERBOSE = 1

%:
	dh $@ --with=config-package

override_dh_installsystemd:
	# It doesn't make sense to restart this service on upgrade as its only
	# purpose is to set a hostname very early in the startup process. For the
	# same reason, starting the service doesn't make sense as the system will
	# either be:
	#  a) already running, and have a hostname set.
	#  b) not really running as it's a chroot
	dh_installsystemd \
		--no-stop-on-upgrade \
		--no-start \
		early-hostname.service
	# On the other hand, these are normal mount units
	dh_installsystemd \
		tmp.mount \
		etc-iscsi-nodes.mount \
		etc-iscsi-send_targets.mount \
